/* Filter Header */
#FilterMenu {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

#filterHeader {
    padding: 7px;
    text-align: center;
    background: #8bc63e;
}

#filterHeader h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
}

#filterElements {
    float: left;
    width: 100%;
    padding: 10px;
    background: #f8f8f8;
    border-bottom: 2px solid #f8af44;
}

#filterElements label {
    display: block;
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 300;
    color: #b0b0b0;
}

#filterElements input,
#filterElements select {
    width: 100%;
    border: none;
    padding: 8px;
    margin-bottom: 10px;
    background: #fcfcfc;
    box-shadow: inset 0 0 4px 0 rgba(0,0,0,.52);
    -webkit-box-shadow: inset 0 0 4px 0 rgba(0,0,0,.52);
    -moz-box-shadow: inset 0 0 4px 0 rgba(0,0,0,.52);
    -o-box-shadow: inset 0 0 4px 0 rgba(0,0,0,.52);
    color: #a0a0a0;
}

#filterElements select {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 30px;
}

.select-container {
    position: relative;
}

.select-container:after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-weight: 900;
    height: 16px;
    line-height: 16px;
    text-rendering: auto;
    position: absolute;
    text-align: center;
    display: block;
    width: 30px;
    right: 0px;
    top: 11px;
    color: #a0a0a0;
}

#filterTheRecipes {
    padding: 10px;
    width: 100%;
    text-align: center;
    background: #f60;
    color: #fff;
    border-radius: 0;
    border: none;
    margin-top: 20px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-weight: 300;
}

#filterTheRecipes:hover {
    background: #b34c00;
    color: #fff;
}

.form-error-holder {
    position: absolute;
    width: 15px;
    height: 15px;
    text-align: center;
    background: #f60;
    color: #fff;
    border-radius: 50%;
    top: 32px;
    right: 21px;
    font-size: 11px;
    cursor: pointer;
    text-decoration: none;
}

.tooltip-inner {
    min-width: 200px; /* the minimum width */
}

#filterElements input.error-border, #filterElements select.error-border {
    /*border: 1px solid #f60 !important;*/
    box-shadow: inset 0 0 4px 0 rgba(255, 102, 0, 1);
    -webkit-box-shadow: inset 0 0 4px 0 rgba(255, 102, 0, 1);
    -moz-box-shadow: inset 0 0 4px 0 rgba(255, 102, 0, 1);
    -o-box-shadow: inset 0 0 4px 0 rgba(255, 102, 0, 1);
}

#clearfilter {
    padding: 10px;
    width: 100%;
    text-align: center;
    background: transparent;
    color: #f60;
    border-radius: 0;
    border: none;
    margin-top: 20px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-weight: 300;
    display: block;
    border: 1px solid #f60;
    text-decoration: none !important;
}

#noPosts {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #f06724;
}

.close_filter {
    display: none;
}
@media all and (max-width: 768px) {
    #FilterMenu {
        max-width: 320px;
        position: fixed;
        top: 0;
        z-index: 999999;
        width: 100%;
        right: -320px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    #FilterMenu.opened {
        right: 0;
    }
    #openFilter:after {
        content: '\f002';
        font-family: "Font Awesome 5 Free";
        font-style: normal;
        font-variant-caps: normal;
        font-variant-ligatures: normal;
        font-weight: 900;
        position: absolute;
        top: 160px;
        width: 50px;
        height: 50px;
        z-index: 9999999;
        background: #8bc63e;
        text-align: center;
        font-size: 20px;
        line-height: 49px;
        color: #fff;
        left: -50px;
    }
    #FilterMenu div.tabletFull {
        width: 100% !important;
    }
    
    .close_filter{
        position: absolute;
        font-size: 20px;
        color: #fff;
        top: 0px;
        display: block;
        width: 35px;
        height: 32px;
        background: #f60;
        line-height: 28px;
        left: 0;
        text-align: center;
    }
}