@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&subset=cyrillic');
/*
#loader_screen {
    background-color: #ffde6b;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#loader_screen.show {
    visibility: visible;
    opacity: 1;
}

#loader_screen h1 {
    position: relative;
    margin: 0 auto;
    top: 25vh;
    width: 100vw;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 6vh;
    color: #333;
    opacity: .75;
    animation: pulse 2.5s linear infinite;
}

#cooking {
    position: relative;
    margin: 0 auto;
    top: 0;
    width: 75vh;
    height: 75vh;
    overflow: hidden;
}
#cooking .bubble {
    position: absolute;
    border-radius: 100%;
    box-shadow: 0 0 0.25vh #4d4d4d;
    opacity: 0;
}
#cooking .bubble:nth-child(1) {
    margin-top: 2.5vh;
    left: 58%;
    width: 2.5vh;
    height: 2.5vh;
    background-color: #454545;
    animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
}
#cooking .bubble:nth-child(2) {
    margin-top: 3vh;
    left: 52%;
    width: 2vh;
    height: 2vh;
    background-color: #3d3d3d;
    animation: bubble 2s ease-in-out .35s infinite;
}
#cooking .bubble:nth-child(3) {
    margin-top: 1.8vh;
    left: 50%;
    width: 1.5vh;
    height: 1.5vh;
    background-color: #333;
    animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}
#cooking .bubble:nth-child(4) {
    margin-top: 2.7vh;
    left: 56%;
    width: 1.2vh;
    height: 1.2vh;
    background-color: #2b2b2b;
    animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
}
#cooking .bubble:nth-child(5) {
    margin-top: 2.7vh;
    left: 63%;
    width: 1.1vh;
    height: 1.1vh;
    background-color: #242424;
    animation: bubble 1.6s ease-in-out 1s infinite;
}
#cooking #area {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    background-color: transparent;
    transform-origin: 15% 60%;
    animation: flip 2.1s ease-in-out infinite;
}
#cooking #area #sides {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: 15% 60%;
    animation: switchSide 2.1s ease-in-out infinite;
}
#cooking #area #sides #handle {
    position: absolute;
    bottom: 18%;
    right: 80%;
    width: 35%;
    height: 20%;
    background-color: transparent;
    border-top: 1vh solid #333;
    border-left: 1vh solid transparent;
    border-radius: 100%;
    transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
}
#cooking #area #sides #pan {
    position: absolute;
    bottom: 20%;
    right: 30%;
    width: 50%;
    height: 8%;
    background-color: #333;
    border-radius: 0 0 1.4em 1.4em;
    transform-origin: -15% 0;
}
#cooking #area #pancake {
    position: absolute;
    top: 24%;
    width: 100%;
    height: 100%;
    transform: rotateX(85deg);
    animation: jump 2.1s ease-in-out infinite;
}
#cooking #area #pancake #pastry {
    position: absolute;
    bottom: 26%;
    right: 37%;
    width: 40%;
    height: 45%;
    background-color: #333;
    box-shadow: 0 0 3px 0 #333;
    border-radius: 100%;
    transform-origin: -20% 0;
    animation: fly 2.1s ease-in-out infinite;
}

@keyframes jump {
    0% {
        top: 24%;
        transform: rotateX(85deg);
    }
    25% {
        top: 10%;
        transform: rotateX(0deg);
    }
    50% {
        top: 30%;
        transform: rotateX(85deg);
    }
    75% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(85deg);
    }
}
@keyframes flip {
    0% {
        transform: rotate(0deg);
    }
    5% {
        transform: rotate(-27deg);
    }
    30%,
    50% {
        transform: rotate(0deg);
    }
    55% {
        transform: rotate(27deg);
    }
    83.3% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes switchSide {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
@keyframes fly {
    0% {
        bottom: 26%;
        transform: rotate(0deg);
    }
    10% {
        bottom: 40%;
    }
    50% {
        bottom: 26%;
        transform: rotate(-190deg);
    }
    80% {
        bottom: 40%;
    }
    100% {
        bottom: 26%;
        transform: rotate(0deg);
    }
}
@keyframes bubble {
    0% {
        transform: scale(0.15, 0.15);
        top: 80%;
        opacity: 0;
    }
    50% {
        transform: scale(1.1, 1.1);
        opacity: 1;
    }
    100% {
        transform: scale(0.33, 0.33);
        top: 60%;
        opacity: 0;
    }
}
@keyframes pulse {
    0% {
        transform: scale(1, 1);
        opacity: .25;
    }
    50% {
        transform: scale(1.2, 1);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: .25;
    }
}
*/

html {
    background: none;
    background-color: #e6e6e6;
    background-image: url(https://mycookingideas.com/wp-content/uploads/2016/01/jademe-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #fff;
    max-width: 1170px;
    margin: auto;
}

.navbar-brand {
    width: 210px;
    margin-top: -11px;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}



/* Top Header */

#top_menu {
    background: #f2f2f2;
    border-bottom: 1px solid #ff6600;
    color: #333;
    padding: 4px 0;
}

#top_menu p {
    display: inline;
    margin-right: 10px;
}

#top_menu ul li a {
    padding: 0 0 0 10px;
    color: #333;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#top_menu ul li a:hover,
#top_menu ul li a:focus,
#top_menu ul li a:active {
    color: #ff6600;
    text-decoration: none;
    background: none !important;
}

.social-media a {
    color: #cfcfcf;
    font-size: 22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.social-media a:hover,
.social-media a:focus,
.social-media a:active{
    color: #ff6600;
    text-decoration: none;
}

#top_menu_collapse {
    margin-top: 6px;
}

.top-navbar-header {
    position: absolute;
    top: -6px;
    right: 20px;
    z-index: 7;
}

.top-navbar-header a {
    font-size: 22px;
    color: #8bc63e;
}

/*Bottom header*/

#main_menu {
    background: #fafafa;
    border: none;
    border-radius: 0;
    padding: 15px 0;
    margin-bottom: 0;
}

#main_menu a {
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#main_menu a:hover,
#main_menu a:focus,
#main_menu a:active{
    color: #ff6600;
    text-decoration: none;
    background: none;
}

.home_menu_item a,
.about_menu_item a {
    display: block;
    padding: 7px 12px !important;
    text-align: center !important;
    font-size: 35px;
}

.rec-button > ul > li.categoryzation-title > a,
#main_menu .rec-button > ul > li.categoryzation-title > a:hover {
    background: #8bc63e !important;
    color: #fff !important;
    width: 100%;
    border: none;
}

/*LAST TWO IMAGES*/

.last_two_thumb {
    position: relative;
    padding-bottom: 29.92%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.img-wrapper img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    object-fit: cover;
}

.last_two_thumb a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.last_two_thumb a:hover {
    box-shadow: -2px 59px 91px 8px rgba(139,198,62,0.75) inset;
    -webkit-box-shadow: -2px 59px 91px 8px rgba(139,198,62,0.75) inset;
    -moz-box-shadow: -2px 59px 91px 8px rgba(139,198,62,0.75) inset;
}

.last_two_thumb  .thumb-title{
    position: absolute;
    bottom: 0;
    padding: 15px;
    width: 100%;
    background: rgba(0,0,0, 0.6);
}

.last_two_thumb  .thumb-title h1{
    font-size: 19px;
    color: #fff;
    margin: 0 0 10px 0;
    font-weight: 300;
}

.last_two_thumb  .thumb-title p{
    color: #fff;
    margin: 0;
    font-weight: 300;
}

/*CONTRIBUTING*/

#contributors {
    background: #fafafa;
    padding: 15px 0;
    border: 1px solid #e2dcdc;
    border-left: none;
    border-right: none;
}

#contributors h2 {
    font-weight: 300;
    font-size: 23px;
    margin: 0 0 10px 0;
}

#contributors p {
    margin: 0;
    font-weight:300;
}

.orange-text {
    color: #ff6600;
}

#contributors a {
    display: inline-block;
    float: right;
    padding: 17px;
    background: orange;
    color: #fff;
    font-weight: 800;
    text-decoration: none;
    width: 200px;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


#contributors a:hover {
    text-decoration: none;
    background: #d17f00;
}



/*GIRD*/
#post-grid {
    padding: 30px 0;
}

.grid-post-wrapper a {
    display: block;
    position: relative;
    z-index: 1;
    color: #333;
    text-decoration: none !important;
    font-size: 15px;
    font-weight: 300;

}

.grid-post-wrapper:hover{
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.38);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.38);
}

.grid-post-wrapper {
    display: block;
    width: 100%;
    height: 450px;
    border: 1px solid #e6e6e6;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 50px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#post-grid .container {
    padding: 0 5px;
}

#post-grid .col-xxs-12 {
    padding: 0 5px;
}

.rec-category {
    display: block;
    position: absolute;
    top: 10px;
    padding: 5px 10px;
    background: #8bc63e;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    z-index: 2;
}

.rec-category a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none;
}


.post-details {
    padding: 10px;
}

.grid-title{
    margin-bottom: 10px;
}

.grid-ratings{
    margin-bottom: 15px;
}

.grid-ratings i {
    color: #ff6600 !important;
}

.meal-details {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    right: 0;
}

.meal-details li{
    text-align: center;
    border: 1px solid #e6e6e6;
    border-bottom: none;
    border-left: none;
    flex-grow: 1;
    flex-basis: 0;
}

.meal-details li:last-child{
    border-right: none;
}


.meal-details li i {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    color: #8bc63e;
}

.grid-load-more {
    display: block;
    float: none;
    padding: 17px;
    background: orange;
    color: #fff;
    font-weight: 800;
    text-decoration: none;
    width: 200px;
    margin: 25px auto;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
    cursor: pointer;
}
.grid-load-more:hover {
    text-decoration: none;
    background: #d17f00;
}

#home-grid-no-posts {
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    color: #ff6600;
    margin: 21px 0 0 0;
    text-transform: uppercase;
}

.grid-image-wrap {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.grid-image-wrap img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*home adverts*/

.advert-container {
    max-width: 278px;
    width: 100%;
    margin: auto;
    height: 420px;
    max-height: 420px;
}

.advert-placeholder {
    width: 278px;
    height: 278px;
    background: #fff8e5;
    border: 1px solid #e2e2e2;
}


.advert-container span {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 5px;
    padding: 0 3px;
}


/*HOME BLOG*/

#home-blog {
    float: left;
    background: #fafafa;
    padding: 15px 0;
    border: 1px solid #e2dcdc;
}

.single-blog-post{
    margin-bottom: 15px;
    border-bottom: 1px solid #e2e2e2;
    padding: 0 15px 10px 15px;
    float: left;
}

.home-blog-image {
    width: 130px;
    margin: auto;
    border-radius: 50%;
    background-size: cover;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.38);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.38);
    height: 130px;
}
.single-blog-post p {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    display: block;
    padding: 10% 0;
    color: #333;
}

#home-blog h3 {
    margin: 0 0 15px 0;
    padding-bottom: 10px;
    display: block;
    border-bottom: 1px dashed #ff6600;
    color: #ff6600;
}

.image-wrapepr {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 20px auto 40px auto;
    border-radius: 50%;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.38);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.38);
}

.more-button {
    display: block;
    width: 100%;
}

.more-button a {
    text-decoration: none;
    padding: 2px 0 !important;
    text-transform: uppercase;
    font-weight: 300;
    width: 100px;
    margin: 30px auto !important;
    float: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/*WIDGETS SIDEBAR*/

.widget h2,
.single-post-blog-title {
    font-size: 25px;
    font-weight: 200;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin: 10px 0 15px 0;
}

.widget ul {
    list-style: none;
    padding: 0 0 0 22px;
    font-size: 14px;
}

.widget ul li {
    display: block;
    padding: 3px 0;
    position: relative;
    line-height: 18px;
}

.widget ul li a {
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.widget ul li a:hover {
    text-decoration: none;
    color: #ff6600;
}

.widget ul li:before {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-weight: 900;
    height: 16px;
    line-height: 16px;
    text-rendering: auto;
    width: 16px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 7px;
    left: -17px;
    font-size: 11px;
}

    /*FOOTER*/

.footer-widget-area ul li:before {
    display: none;
}

.footer-widgets {
    border-bottom: 1px solid #e2dcdc;
    text-align: left;
    font-weight: 300;
    padding: 0 15px 30px 15px;
}

.footer-widgets h2{
    font-size: 25px;
    color: #b1b3b4;
}

.footer-widget-area a {
    color: #ff6600 !important;
    text-decoration: none !important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.footer-widget-area a:hover,
.footer-widget-area a:focus,
.footer-widget-area a:active {
    color: #b34c00 !important;
}

.footer-widget-area ul.menu {
    list-style: none;
    font-size: 16px;
    padding-left: 22px;
}

.footer-widget-area ul.menu li {
    display: inline-block;
    float: left;
    width: 50%;
}

.footer-widget-area ul.menu li a{
    display: block;
    padding: 3px 0;
    position: relative;
}

.footer-widget-area ul.menu li a:before {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-weight: 900;
    height: 16px;
    line-height: 16px;
    text-rendering: auto;
    width: 16px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 7px;
    left: -17px;
    font-size: 11px;
}

.footer-widget-area input {
    width: 100%;
    border: none;
    padding: 8px;
    margin-bottom: 10px;
    background: #e1e1e1;
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.52);
    -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.52);
    -o-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.52);
    color: #a0a0a0;
}

.footer-widget-area button {
    padding: 10px;
    width: 100px;
    text-align: center;
    background: #ff6600;
    color: #fff;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 300;
}

.footer-widget-area button:hover {
    background: #b34c00;
    color: #fff;
}

.social-media-footer {
    margin-top: 25px;
    padding-top: 5px;
    border-top: 1px solid #e2dcdc;
}

#site_footer {
    background: #F8F8F8;
    text-align: center;
    padding: 20px 0 0 0 ;
}

.site-info {
    padding: 10px 0;
    background: #333;
    color: #fff;
    font-weight: 300;
    border-top: 1px solid #ff6600;
}

.site-info a{
    color: #8bc63e;
}


/* SINGLE RECIPE */

.advert-singe {
    height: auto;
    margin: 0px auto 20px auto;
    width: 100%;
    max-width: 768px;
}

.advert-horizontal {
    width: 768px;
    height: 130px;
}

.single-recipe-title {
    font-size: 21px;
}

.single-rating {
    font-size: 20px;
}

/*CONTENT AREA SINGLE POST*/

.col-recipe-content{
    width: 100%;
    display: inline-block;
    /*margin-right: 15px;*/
    padding: 0 7.5px 0 15px;
}

.col-recipe-content img {
    margin: auto;
}

figcaption {
    font-weight: 300;
    background: #f2f2f2;
    padding: 5px;
}

.main-blog-content p,
.main-blog-content a,
.main-blog-content li {
    text-align: justify;
    font-size: 17px;
    font-weight: 300;
}

.single-blog-post-container {
    padding: 0;
}

.separator {
    margin-bottom: 15px;
    width: 100%;
    float: left;
}

/*SIDEBAR*/

.col-sidebar {
    width: 322px;
    display: inline-block;
    float: right;
    padding: 0 15px 0 7.5px;
}


/* SHARE BUTTONS */

.share-buttons-wrapper {
    background: #e6e6e6;
    width: 100%;
    float: left;
}

.share-buttons-wrapper span.share-title {
    display: inline-block;
    font-size: 20px;
    line-height: 47px;
    padding-left: 15px;
    font-weight: 100;
}

.addthis_inline_share_toolbox {
    display: inline-block;
    width: auto;
    float: right;
    padding: 8px 10px 4px 10px;
}

/* Recipe Ingredients */

#ingredients {
    float: left;
    width: 100%;
}

h2.recipe-headings {
    clear: both;
    width: 100%;
    margin-top: 1rem;
    padding: .75rem 3% .8rem;
    color: #4d4d4d;
    border-bottom: 1px solid #e6e6e6;
    font-size: 26px;
    font-weight: 100;
}

.ingredients-header{
    position: relative;
}

.ingredients-header ul {
    list-style: none;
    position: absolute;
    right: -3px;
    top: 23px;
}

.ingredients-header ul li{
    display: inline-block;
    float: left;
    padding: 0 10px;
    font-size: 15px;
    color: #928a8a;
    font-weight: 300;
}

.ingredients-content {
    display: flex;
    position: relative;
    float: left;
    width: 100%;
    flex-wrap: wrap-reverse;
}

#directions .ingredients-content {
    flex-wrap: wrap;
}

.in-content-banner {
    width: 300px;
}


.ingredients-body{
    padding-top: 20px !important;
    padding-right: 30px;
}

.ingredients-body p {
    font-size: 17px;
    font-weight: 300;
    padding-left: 30px;
    position: relative;
    margin-bottom: 24px;
}

.ingredients-body p:before {
    content: '\f00c';
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-weight: 900;
    line-height: 19px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 12px;
    padding-left: 3px;
}

.direction-step:before {
    font-size: 13px !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    padding-left: 6px !important;
    top: 2px !important;
}

/*DIRECTIONS*/

.preparation-info {
    display: inline-block;
    float: left;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0 0 30px 0;
}
.preparation-info li{
    display: inline-block;
    float: left;
    padding: 10px;
    width: 66px;
    text-align: center;
    border-right: 1px solid #ddd;
}

.preparation-info li span {
    display: block;
}

.preparation-info li i {
    font-size: 38px;
    color: #bcbbbb;
}

/*Video directions*/

#video-directions {
    float: left;
    width: 100%;
}

.video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56%;
    margin-bottom: 15px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/*Image directions*/

#image-directions {
    width: 100%;
    float: left;
}

.image-wrapper {
    max-width: 600px;
    display: block;
    margin: 0 auto 15px auto;
}

.image-wrapper figure {
    margin-bottom: 15px;
}

.image-wrapper figcaption {
    background: #8bc63e;
    padding: 5px;
    color: #fff;
    font-size: 16px;
}

/*recipe related*/

.inline-related-recipes {
    list-style: none;
    padding: 10px !important;
    display: block;
    border: 1px solid #e7e4e4;
}

.inline-related-recipes li {
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e4e4;

}

.inline-related-recipes li:before {
    display: none;
}

.inline-related-recipes li:last-child {
    border-bottom: none;
}

.inline-related-recipes li a{
    display: flex;
    align-items: center;
    text-decoration: none !important;
}

.related-img-wrapper {
    width: 80px;
    height: 80px;
    position: relative;
    margin-right: 10px;
}
.related-img-wrapper img{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    object-fit: cover;
}

.winner-wrapper {
    position: absolute;
    z-index: 2;
    background: #8bc63e;
    color: #fff;
    padding: 4px;
    text-align: center;
    font-size: 11px;
    top: -10px;
    right: -11px;
    height: 35px;
}
.tropgy-top-3 {
    margin-bottom: -6px;
}
.blog-post-image-wrapper {
    overflow: hidden;
    border-radius: 50%;
}

.related-title {
    width: 70%;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-transform: uppercase;
}

.related-title .grid-ratings {
    margin: 0;
    font-size: 10px;
}

.inline-related-title {
    position: relative;
    padding: 5px 10px;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    text-align: left;
    background: #ff6600;
}

.inline-related-main {
    margin-top: -86px;
}

.related-articles{
    display: flex;
    align-items: center;
    text-decoration: none !important;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

/*JETPACK POPULAR*/
.widget.widget_top-posts ul.widgets-list-layout {
    list-style: none;
    padding: 10px !important;
    display: block;
    border: 1px solid #e7e4e4;
}

.widget.widget_top-posts ul.widgets-list-layout li {
    padding: 11.5px 0;
    position: relative;
    line-height: 18px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    text-decoration: none !important;
    border-bottom: 1px solid #e7e4e4;
}

.widget.widget_top-posts ul.widgets-list-layout li a.bump-view {
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 10px;
    display: block;
}

.widget.widget_top-posts ul.widgets-list-layout li a.bump-view img {
    width: 100%;
    height: 100%;
    max-width: unset;
}

.widget.widget_top-posts ul.widgets-list-layout li .widgets-list-layout-links a.bump-view {
    width: 100%;
    height: unset;
    margin-right: 0;
}

.widget.widget_top-posts ul.widgets-list-layout li div.widgets-list-layout-links {
    width: 70%;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-transform: uppercase;
}

.widget.widget_top-posts ul.widgets-list-layout li:before {
    display: none;
}

.widget.widget_top-posts ul.widgets-list-layout li:first-child:before {
    content: "\f091";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-weight: 900;
    display: block;
    position: absolute;
    z-index: 2;
    background: #8bc63e;
    color: #fff;
    padding: 4px;
    text-align: center;
    font-size: 11px;
    top: -10px;
    right: -11px;
    height: 35px;
    left: unset;
    width: 40px;
}

.widget.widget_top-posts ul.widgets-list-layout li:first-child:after {
    content: "winner";
    color: #fff;
    position: absolute;
    right: -7px;
    left: unset;
    z-index: 2;
    top: 5px;
    font-size: 11px;
    text-align: center;
}

@media all and (min-width: 768px) {

    .width-100 {
        width: 100% !important;
    }

    .mobile-button {
        display: none !important;
    }

    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
         margin-left: 0 !important;
    }


    .menu-button > a{
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 100%;
        line-height: 51px;
        white-space: nowrap;
        color: #fff !important;
        text-align: center;
        padding: 0px 20px;
        margin-left: 10px;
        background: #f8af44;
    }

    .menu-button.active > a,
    .menu-button.activev:hover > a ,
    .menu-button > a:hover {
        background: #cd8c3b !important;
    }

    .rec-button > a{
        background: #ff6600;
    }

    .rec-button ul {
        background: #545454;
        border-radius: 0;
        border-color: transparent;
        box-shadow: none;
        padding: 0 !important;
    }

    .rec-button > ul {
        margin: auto;
        width: 400px;
        top: 60px;
        border: none;
        flex-wrap: wrap;
    }

    .rec-button.open > ul {
        display: flex;
    }

    .rec-button > ul > li > a {
        background: none !important;
        margin: 0 !important;
    }

    .blog-button > a{
        background: #8bc63e;
    }

    .rec-button  a:hover,
    .rec-button  a:focus,
    .rec-button  a:active{
        background: #ca5700 !important;
    }

    .blog-button  a:hover,
    .blog-button  a:focus,
    .blog-button a:active{
        background: #629132 !important;
    }
    .ingredients-body {
        width: 58.3%;
    }

    .rec-button > ul:before{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #8bc63e;
        top: -12px;
        right: 20px;
    }

    li.categoryzation-title {
        width: 50%;
        text-align: center;
    }
    /*li.categoryzation-title a {*/
        /*border-bottom: 1px solid #ba4c03;*/
    /*}*/

    li.categoryzation-title a:hover{
        background: #ff6600 !important;
    }

    li.categoryzation-title ul {
        position: relative;
        display: block;
        top: unset;
        width: 100%;
    }

    li.categoryzation-title ul li a {
        color: #fff;
        display: block;
        border: none;
        text-align: left;
        width: 100%;
    }

    li.categoryzation-title ul li a:hover,
    li.categoryzation-title ul li.active a,
    li.categoryzation-title ul li a:focus{

        color: #fff !important;
        padding-left: 30px;
        background: transparent;
        /*border-bottom: 1px solid red;*/
    }

    li.categoryzation-title ul li a:hover:before,
    li.categoryzation-title ul li.active a:before,
    li.categoryzation-title ul li a:focus:before {
        content: '\f2e7';
        /*content: "\f013";*/
        font-family: "Font Awesome 5 Free";
        font-style: normal;
        font-variant-caps: normal;
        font-variant-ligatures: normal;
        font-weight: 900;
        height: 16px;
        line-height: 16px;
        text-rendering: auto;
        width: 16px;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        opacity: 0;
    }

    li.categoryzation-title ul li a:hover:before,
    li.categoryzation-title ul li.active a:before,
    li.categoryzation-title ul li a:focus:before{
        left: 10px;
        opacity: 1;
    }

    li.categoryzation-title > ul:after{
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        right: 0;
        background-color: #474747;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    li.categoryzation-title.no-border > ul:after{
        display: none !important;
    }
}

@media all and (min-width: 992px){
    .col-recipe-content {
        width: 65.98%;
    }

    .ingredients-body {
        width: 51.4%;
    }
}

@media all and (min-width: 1200px){
    .col-recipe-content {
        width: 72.39%;
    }

    .ingredients-body {
        width: 63.6%;
    }
}

@media all and (max-width: 991px) and (min-width: 601px){
    .grid-post-wrapper {
        height: 500px;
    }

    .advert-container {
        height: 510px;
    }
}


@media all and (max-width: 1200px){
    #site_footer {
        width: 100%;
    }

    .col-lg-12.footer-widgets {
        float: left;
        width: 100%;
    }
}

@media all and (max-width: 991px){
    .col-sidebar {
        float: none;
        padding: 0 15px !important;
        width: 100%;
        /*margin: auto;*/
        /*display: flex;*/
        /*flex-wrap: wrap;*/
        /*align-items: center;*/
    }

    .preparation-info {
        float: none;
    }
    .ingredients-header ul {
        float: none;
        margin-bottom: 30px;
    }

    .col-recipe-content {
        padding: 0 15px;
    }

    .col-sidebar section.widget {
        width: 50%;
        padding: 0 15px;
        float: left;
    }

}

@media all and (max-width: 768px){

    .col-sidebar {
        display: block;
        margin: 0 auto 20px auto;
    }
    .single-blog-post-container {
        padding: 0 15px;
    }

    .navbar-brand {
        width: 155px;
        margin-top: -4px;
    }

    .desktop-button {
        display: none !important;
    }

    #top_menu ul li a {
        padding: 10px 0;
        text-align: center;
        display: block;
        border-bottom: 1px solid #e2e2e2;
        font-size: 15px;
    }
    #top_menu ul li:first-child a{
        border-top: 1px solid #e2e2e2;
    }

    .menu-button a,
    .mobile-button a {
        display: block;
        text-align: center;
        /*padding: 15px 0;*/
        border-bottom: 1px solid ;
        border-bottom: 1px solid #e2e2e2;
        width: 90%;
        margin: auto;
        padding: 0px 20px;
    }


    #main_menu {
        padding: 5px 0;
    }

    #main_menu #main_menu_toggle {
        border: none;
        font-size: 23px;
        color: #ff6600;
        position: absolute;
        top: 0px;
        right: 6px;
    }

    .last_two_thumb {
        width: 300px;
        margin: 0 auto 15px auto;
        float: none;
        padding: 0 !important;
        height: 250px;
    }

    #contributors a {
        float: none !important;
        margin: 15px auto 0 auto;
        display: block !important;
    }

    #contributors h2,
    #contributors p{
        text-align: center;
    }

    #directions .in-content-banner {
        float: none;
        margin: 10px auto 20px auto;
     }

}

@media all and (max-width: 767px){
    #main_menu ul.nav > li > ul {
        position: relative;
        width: 90%;
        margin: auto;
    }

    #main_menu ul.nav > li > ul > li > ul{
        position: relative;
        display: block;
        width: 90%;
        margin: auto;
    }
}

@media all and (max-width: 720px) {
    .col-sidebar section.widget {
        width: 300px;
        padding: 0;
        float: none;
        margin: 20px auto;
    }
}

@media all and (max-width: 600px) {
        .grid-post-wrapper {
            height: 450px;
            width: 300px !important;
            margin: auto;
        }

        .advert-container {
            height: 370px;
            width: 300px !important;
            margin: auto;
        }

        .col-xxs-12 {
            width: 100% !important;
            margin-bottom: 15px;
        }

    .ingredients-header ul {

        list-style: none;
        position: relative;
        right: 0;
        top: -5px;
        float: left;
        padding: 0;
        margin: 0 0 20px 0;
        width: 100%;
    }

    .single-blog-post-container,
    .col-sidebar {
        padding: 0 !important;
    }

    .footer-widgets {
        border-bottom: none;
    }

    .in-content-banner {
        float: none;
        margin: auto;
    }

    .col-recipe-content {
        padding: 0;
    }

    .home-blog-image {
        width: 70px;
        height: 70px;
    }

    .col-recipe-content {
        padding: 0 15px;
    }

}

#recipe_comments {
    float: left;
    width: 100%;
}

#recipe_comments #reply-title {
    margin: 0;
    padding-bottom: 10px;
    display: block;
    border-bottom: 1px dashed #ff6600;
    color: #ff6600;
}

#recipe_comments #commentform {
    border: 1px solid #ccc;
    padding: 10px;
    float: left;
    margin: 15px 0;
    width: 100%;

}

#recipe_comments .logged-in-as {
    text-align: right;
    margin-bottom: 15px;
}

#recipe_comments .logged-in-as a {
    color: #8bc63e;
    font-weight: 300;
    letter-spacing: 0.7px;
}

#recipe_comments label {
    display: block;
    font-size: 17px;
    font-weight: 300;
    color: #b0b0b0;
    margin: 0;
}

#recipe_comments #comment {
    display: block;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    max-height: 115px;
    height: 115px;
    width: 100%;
    resize: none;
}

#recipe_comments input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 4px;
}

#recipe_comments #submit {
    display: block;
    padding: 10px 15px;
    text-align: center;
    border: none;
    text-transform: uppercase;
    color: #fff;
    background: #f60;
    float: right;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 160px;
}

#recipe_comments .form-submit {
    float: left;
    width: 100%;
}

#recipe_comments #submit:hover,
#recipe_comments #submit:focus {
    background: #bf5500;
}

#recipe_comments .comments-title {
    margin: 0 0 15px 0;
    padding: 5px;
    background: #8bc63e;
    color: #fff;
    font-weight: 300;
    font-size: 19px;
}

#recipe_comments .comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

#recipe_comments .comment-list li {
    clear: both;
    padding: 10px 0 0 115px;
}

#recipe_comments .comment-list li .comment {
    margin-bottom: 10px;
}

#recipe_comments .comment-list li .img-thumbnail {
    margin-left: -115px;
    position: absolute;
    border-radius: 50%;
}

#recipe_comments .comment-list  li img.avatar {
    height: 80px;
    width: 80px;
    border-radius: 4px;
}

#recipe_comments .comment-list .comment-block {
    background: #F4F4F4;
    border-radius: 5px;
    padding: 20px 20px 30px;
    position: relative;
}

#recipe_comments .comment-list li .comment-arrow {
    border-bottom: 15px solid transparent;
    border-right: 15px solid #F4F4F4;
    border-top: 15px solid transparent;
    height: 0;
    left: -15px;
    position: absolute;
    top: 28px;
    width: 0;
}


#recipe_comments .comment-list li .date{
    color: #999;
    float: right !important;
    font-size: 0.9em;
}

.float-right {
    float: right !important;
}

#recipe_comments .comment-list li .comment-by {
    display: block;
    font-size: 1em;
    line-height: 21px;
    margin: 0;
    padding: 0 0 5px 0;
}

#recipe_comments .children {
    list-style: none;
    padding: 0;
}

.grecaptcha-badge {
    position: relative;
}

.grecaptcha-badge iframe {
    position: absolute;
    top: 0;
    left: 0;
}

.navigation ul {
    padding: 0;
    float: left;
    width: 100%;
    display: block;
}
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    color: #fff;
    text-decoration:none;
}

.navigation li {
    display: inline;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    background-color: #f60;
    border-radius: 3px;
    cursor: pointer;
    padding: 12px;
    padding: 0.75rem;
}

.navigation li a:hover,
.navigation li.active a {
    background-color: #bf5500;
}


.mci-archive-pagination {
    float: left;
    width: 100%;
    margin-top: 30px;
}

.archive-page  div[class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.archive-page .grid-post-wrapper {
    height: 415px;
}

/*CONTACT FORM*/
.wpcf7-form {
    max-width: 90%;
    margin: 0 auto;
}

.wpcf7-form label {
    font-weight: 400;
    cursor: pointer;
}

.wpcf7-form textarea,
.wpcf7-form nput {
    border: none;
    outline: none;
    border-radius: 0;
    text-align: center;
    background: none;
    font-weight: 700;
    font-family: 'Lato', georgia;
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
    max-width: 90%;
    padding: 1rem;
    border: 2px dashed rgba(255, 255, 255, 0);
    box-sizing: border-box;
    cursor: text;
}

.wpcf7-form textarea {
    text-align: left;
    /* overflow:hidden; */

    resize: none;
    width: 90%;
    border-color: rgba(255, 255, 255, 0)
}

.wpcf7-form textarea:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px dashed rgba(255, 255, 255, 1);
}

.wpcf7-form textarea:focus:required:valid {
    border: 2px solid rgba(255, 255, 255, 0);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.wpcf7-form textarea:required:valid {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.wpcf7-form input {
    border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

.wpcf7-form input:required,
.wpcf7-form textarea:required {
    border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

.wpcf7-form input:focus {
    border-bottom: 2px dashed rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.2);
}

.wpcf7-form input:required:valid {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.wpcf7-form input:required:invalid {
    color: rgba(255, 255, 255, 0.5);
}

.wpcf7-form ::-webkit-input-placeholder {
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
    font-weight: 400;
}

.wpcf7-form :-moz-placeholder {
    /* Firefox 18- */

    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
    font-weight: 400;
}

.wpcf7-form ::-moz-placeholder {
    /* Firefox 19+ */

    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
    font-weight: 400;
}

.wpcf7-form :-ms-input-placeholder {
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
    font-weight: 400;
}

.wpcf7-form .expanding {
    vertical-align: top;
}

.wpcf7-form .send-icn {
    fill: rgba(255, 255, 255, 1)
}

.wpcf7-form .send-icn:hover {
    fill: rgba(0, 0, 0, 1);
    cursor: pointer;
}

.wpcf7-form button {
    background: none;
    border: none;
    outline: none;
    margin: 2vmax;
}

.wpcf7-form button:hover small {
    opacity: 1;
}

.wpcf7-form small {
    display: block;
    opacity: 0;
}

.website {
    opacity: 1;
    font-size: 16px;
    color: white;
    position: relative;
    text-align: center;
    display: block;
    margin-top: 7%;

}

.website a {
    color: white;
}

@media all and (max-width: 600px) {
    .inv-recaptcha-holder {
        clear: both !important;
        margin: auto;
        max-width: 255px;
    }
}

@media all and (max-width: 380px){
    .addthis_inline_share_toolbox,
    .share-buttons-wrapper span.share-title{
        clear: both;
        display: block;
        width: 100%;
        text-align: center;
        padding: 0;
    }
}

@media (max-width: 800px) and (orientation : landscape) {
    #rotate {
        position: fixed;
        background: #212121 url('../images/rotate.jpg') no-repeat center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999999999999;
        display: block;
        opacity: 1 !important;
        background-size: cover;
    }

}
